/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.task-input {
  display: flex;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.task-input button {
  padding: 8px 16px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.task-input .submit {
  border: solid 1px #646cff;
  background: #646cff;
  color: white;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 5px;
}
.task-list li input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.task-list li.completed {
  background-color: #f0f0f0;
}

.task-list li input[type='checkbox'] {
  margin-right: 10px;
  cursor: pointer;
}

.task-list li button {
  margin-left: auto;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

        /* Hide the "Sort" text on screens with a width less than 600px (adjust as needed) */
        @media (max-width: 600px) {
          .sort-buttons .sort-text {
              display: none;
          }
      }